#title {
  text-align: center;
  font-size: 36px;
}

#connect4Canvas {
  display: block;
  margin: auto;
}

#current-player {
  font-size: 24px;
}

#player-number {
  font-size: 20px;
}

#game-discs > img {
  width: 65px;
  height: 65px;
}
