body {
  position: relative;
}

#title {
  font-family: 'Luckiest Guy';
  text-align: center;
  font-size: 50px;
}

#connect4Canvas {
  display: block;
  margin: auto;
}

#current-player {
  font-family: 'Roboto Mono', monospace;
  font-size: 24px;
  font-weight: 800;
}

#game-discs {
  position: absolute;
  bottom: 0;
}

#player-number {
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
}

#game-discs > img {
  width: 65px;
  height: 65px;
}
